/* FIXME: don't make border overlap 
!!footer
*/

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #373a40;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 50px;
    border-width: 5px;
    border-style: solid;
}

.hovered {
    background-color: black;
}

button {
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 960px;
}

h1 {
    font-size: 80px;
}