/* FIXME: don't make border overlap */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 50px;
}

.hovered {
    background-color: black;
}

button {
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 960px;
}